body {
  background-color:rgb(215, 222, 247) !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav {
  background-color: azure !important;
}

#clickNext {
  padding-top: 4vh;
}

#content, #header, #images, #comment {
  margin: auto;  
  width: 750px;
  padding-top: 5vh;
  text-align: center;
}

#hometown {
  margin: auto;
  text-align: center;
}

#map {
  text-align: center;
  width: 80vw;
  height: 40vh;
  margin: auto;
}

#academics {
  text-align: center;
  margin: 5% auto auto auto;
  width: 80vw;
}

#projects {
  float: left;
  width: 30vw;
}

#aboutme {
  float: right;
  width: 30vw;
}