body {
  background-color:rgb(215, 222, 247) !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav {
  background-color: azure !important;
}

#android {
  margin-bottom: 4%;
}

#content, #header, #images{
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  margin-top: 5%;
  text-align: center;
}

#hometown, #comment {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;
}

#map {
  text-align: center;
  width: 80vw;
  height: 40vh;
  margin-left: 10vw;
  margin-top: 5%;
}

#academics {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 80vw;
}

#projects {
  float: left;
  width: 30vw;
}

#aboutme {
  float: right;
  width: 30vw;
}